fastapi
uvicorn[standard]
langchain
llama-index
SQLAlchemy
asyncpg
python-dotenv
scikit-learn
pydantic
httpx
pytest
pytest-cov
alembic
pytest-asyncio
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
pydantic[email]
python-multipart
python-docx
pymupdf
sentence-transformers
pgvector
ollama